@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor_0: ;
    --cor_1: ;
    --cor_2: ;
    --cor_3: ;
    --cor_4: ;
}

body {
    
}

header {
    background-color: bisque ;
}

header > div#img_header {
    background-image: url(../imagens/header.jpg);
    background-repeat: no-repeat;
    height: 557px;
    width: 740px;
}

div#img_header > h1 {
    color: white;
}
