@charset "UTF-8";

:root {
    --cor0: #4F5F73;
    --cor1: #F2F2F2;
    --cor2: #A3A9B0;
    --cor3: #CCC4C0;
    --cor4: #8C4B45;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

header > h1#frase_top {
    background-color: var(--cor2);
    height: 45px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.397);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.288);
}

#container1 {
    background-color: var(--cor0);
    display: flex;
    align-items: center;
    width: 800px;
    margin: 20px auto;
    border: 2px solid rgba(0, 0, 0, 0.356);
    border-radius: 0px 25px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.336);
}

div#container1 > h1 {
    text-align: center;
}

#imagem_cachorro {
    width: 300px;
    height: 300px;
    margin-right: 45px;
}

nav {
    background-color: var(--cor1) ;
    padding: 12px;
}

nav > a {
    color: black;
    text-decoration: none;
    padding: 12px;
    border: 5px;
}

nav > a:hover {
    background-color: var(--cor0);
    color: white;
} 


