@charset "UTF-8";

:root {
    --cor0: #41A8BF;
    --cor1: #B0D1D9;
    --cor2: #F2B077;
    --cor3: #734226;
    --cor4: #A66946;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor2);
}
